body {
    background-image: url('image/background_image.jpg');
}

p {
    text-indent: 40px; 
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
    font-style: normal;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}


a:link {
    color: blue; 
}

a:visited {
    color: purple; 
}

a:hover, a:active {
    color: red; 
}
